* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --skin: #fed90f;
  --background: #ed4042;
  --red: #ed2860;
  --dark-red: #680524;
  --black: #00243a;
  --white: #fff;
}

body {
  background-color: skyblue;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  width: 100px;
  height: 200px;
  background: var(--skin);
  border-radius: 50px;
  position: relative;
}

/* ojos */

.eye {
  width: 47px;
  height: 47px;
  background-color: var(--white);
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 75px;
}

.eye-left {
  left: -2px;
}

.eye-right {
  right: -2px;
}

.pupil {
  background-color: var(--black);
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

.eyebrow {
  height: 15px;
  width: 15px;
  position: absolute;
  background-color: var(--skin);
  top: 75px;
  border-radius: 50%;
}

.eyebrow-left {
  left: -3px;
}
.eyebrow-right {
  right: -3px;
}

/* nariz */

.nose {
  background-color: var(--skin);
  width: 28px;
  height: 28px;
  position: absolute;
  top: 100px;
  left: calc(50% - 14px);
  border-radius: 50%;
  box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.1);
}
