* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --skin: #fed90f;
  --background: #ed4042;
  --red: #ed2860;
  --dark-red: #680524;
  --black: #00243a;
  --white: #fff;
  --shadow: -5px 5px 3px rgba(0, 0, 0, 0.1);
}

body {
  background-color: skyblue;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  width: 100px;
  height: 200px;
  background: var(--skin);
  border-radius: 50px;
  position: relative;
  box-shadow: var(--shadow);
}

/* ojos */

.eye {
  width: 47px;
  height: 47px;
  background-color: var(--white);
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 75px;
}

.eye-left {
  left: -2px;
}

.eye-right {
  right: -2px;
}

.pupil {
  background-color: var(--black);
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

.eyebrow {
  height: 15px;
  width: 15px;
  position: absolute;
  background-color: var(--skin);
  top: 75px;
  border-radius: 50%;
}

.eyebrow-left {
  left: -3px;
}
.eyebrow-right {
  right: -3px;
}

/* nariz */

.nose {
  background-color: var(--skin);
  width: 26px;
  height: 26px;
  position: absolute;
  top: 105px;
  left: calc(50% - 13px);
  border-radius: 50%;
  box-shadow: var(--shadow);
  z-index: 2;
}

/* orejas */

.ears {
  height: 25px;
  width: 20px;
  position: absolute;
  z-index: -1;
  top: 120px;
  background-color: var(--skin);
}

.left-ear {
  left: -10px;
  border-radius: 40% 40% 40% 60%;
}

.right-ear {
  right: -10px;
  border-radius: 40% 40% 60% 40%;
}

/* boca */

.mouth {
  position: absolute;
  left: -5px;
  top: 125px;
  width: 110px;
  height: 75px;
  background-color: #d1b271;
  z-index: 1;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.lips {
  position: absolute;
  left: calc(50% - (60% / 2));
  top: 45%;
  height: 18px;
  width: 60%;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 50% 50%;
  box-shadow: var(--shadow);
}
